<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mountainclimbers">

    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="android.support.app.CoreComponentFactory"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Mountains"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".PackSelectActivity" />
        <activity
            android:name=".TutorialActivity" />
        <activity android:name=".LevelSelectActivity" />
        <activity android:name=".PlayGameActivity" />
        <activity android:name=".PlayTimedModeActivity" />
        <activity android:name=".PlayPuzzleModeActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>