<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gmail.mountainapp.scrane.mountainclimbers">
    <uses-feature android:name="android.software.leanback"
        android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:appComponentFactory="android.support.app.CoreComponentFactory"
        android:icon="@mipmap/logo"
        android:label="Mountains"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".ActivityViewProfile"></activity>

        <activity android:name=".SettingsActivity" />
        <activity android:name=".PackSelectActivity" />

        <activity android:name=".TutorialActivity" />
        <activity android:name=".LevelSelectActivity" />
        <activity android:name=".PlayGameActivity" />
        <activity android:name=".PlayTimedModeActivity" />
        <activity android:name=".PlayPuzzleModeActivity" />
        <activity android:name=".PlayDailyLevel" />
        <activity android:name=".MainActivity"
            android:banner="@drawable/pumpkin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />

            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>